<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="bg-blue-600 text-white shadow">
            <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
                
                <!-- Left side links -->
                <div class="flex space-x-6">
                    <a href="{{ path('app_home') }}" class="hover:text-gray-200">Home</a>
                    <a href="{{ path('app_vat') }}" class="hover:text-gray-200">Calculator</a>
                    <a href="{{ path('app_vat_history') }}" class="hover:text-gray-200">History</a>
                </div>

                <!-- Right side links -->
                <div class="flex space-x-6">
                    <a href="{{ path('app_login') }}" class="hover:text-gray-200">Login</a>
                    <a href="{{ path('app_logout') }}" class="hover:text-gray-200">Logout</a>
                </div>
            </div>
        </nav>


        {% block body %}{% endblock %}
    </body>
</html>
